APP_CONFIG__DB__URL=postgresql+asyncpg://postgres:root@localhost:5432/healthdiary
APP_CONFIG__SECRET_KEY=secret_key

POSTGRES_DB=healthdiary
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

SMTP_USER=email@example.com
SMTP_PASS="password"

APP_CONFIG__REDIS__URL=redis://localhost:6379/0
