{% extends "templates/mailing/base.html" %}

{% block title %}Ваш код подтверждения почты{% endblock %}

{% block main %}
<table role="presentation" width="100%" style="border-spacing:0;">
<tr>
    <td align="center">
        <table width="100%" role="presentation" style="max-width: 600px; border-spacing: 0;">
        <!-- Заголовок -->
            <tr>
                <td align="center" style="font-size: 70px; font-weight: bold; line-height: 1.2; color: #ffffff; padding: 20px 0;">
                Ваш код подтверждения почты:
                </td>
            </tr>
            <!-- OTP код -->
            <tr>
                <td align="center" style="background: #2b2b2b; border: 2px solid #4b4b4b; border-radius: 35px; padding: 35px 0; margin: 20px 0;">
                    <span style="font-size:90px; font-weight:bold; color:#ffffff;">{{ code }}</span>
                </td>
            </tr>
            <!-- Информация -->
            <tr>
                <td style="font-size: 26px; line-height: 1.5; color: #ffffff; padding: 30px 0; text-align: left;">
                    <p style="margin: 0 0 10px 0;">Здравствуйте, {{ email }}!</p>
                    <p style="margin: 0 0 10px 0;">
                    Ваш аккаунт был введён при регистрации учетной записи в приложении «Дневник здоровья»!<br>
                    Для подтверждения необходимо ввести вышеуказанный код в соответствующее поле!
                    </p>
                    <p style="margin: 0;">Если это не вы — игнорируйте письмо!</p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
{% endblock %}
